Ada/exampli.ali
Ada/example.o
Ada/example
Agda/src/MAlonzo
Agda/src/example
Agda/src/example.agdai
Apl/.apl.history
BSV/src/example.v
BSV/src/example.bo
BSV/sim
BH/src/example.v
BH/src/example.bo
BH/sim
Cobol/example
Coq/.example.aux
Coq/example.glob
Coq/example.vo
Coq/example.vok
Coq/example.vos
C/example
C#/bin
C#/obj
C++/example
D/example
D/example.o
Elm/elm-stuff
Erlang/erl_crash.dump
Erlang/example.beam
F*/out
F*/example
F#/bin
F#/obj
Fortran/example
Haskell/out
Haskell/example
Haxe/example.n
Java/Example.class
Kotlin/META-INF
Kotlin/ExampleKt.class
Nim/example
Objective-C/example
Pascal/src/example
Pascal/src/example.o
Pony/example
PureScript/.spago
PureScript/output
V/src/example
Vala/example
Verilog/example
Reason/example.ml
Rust/example
Scala/Example.class
Scala/Example$.class
Scala/Example.tasty
Swift/example
SystemVerilog/example
TypeScript/dist
TypeScript/node_modules
VisualBasic/bin
VisualBasic/obj