Ada/exampli.ali
Ada/example.o
Ada/example
Agda/src/MAlonzo
Agda/src/example
Agda/src/example.agdai
Cobol/example
Coq/.example.aux
Coq/exmaple.glob
Coq/exmaple.vo
Coq/exmaple.vok
Coq/exmaple.vos
C/example
C#/bin
C#/obj
C++/example
D/example
D/example.o
Elm/elm-stuff
Erlang/erl_crash.dump
Erlang/example.beam
F#/bin
F#/obj
Haskell/out
Haskell/example
Haxe/example.n
Java/Example.class
Kotlin/META-INF
Kotlin/ExampleKt.class
Nim/example
PureScript/.spago
PureScript/output
Reason/example.ml
Rust/example
Scala/Example.class
Scala/Example$.class
Scala/Example.tasty
Swift/example
TypeScript/dist
TypeScript/node_modules
VisualBasic/bin
VisualBasic/obj