output.txt

Ada/example.ali
Ada/example.o
Ada/example
Agda/src/MAlonzo
Agda/src/example
Agda/src/example.agdai
Apl/.apl.history
BluespecHaskell/src/example.v
BluespecHaskell/src/example.bo
BluespecHaskell/example
BluespecSystemVerilog/src/example.v
BluespecSystemVerilog/src/example.bo
BluespecSystemVerilog/example
Brainfuck/example
C/example
C#/bin
C#/obj
C++/example
Cobol/example
Coq/.example.aux
Coq/example.glob
Coq/example.vo
Coq/example.vok
Coq/example.vos
Curry/src/.curry
D/example
D/example.o
Dafny/src/example.dll
Dafny/src/example.runtimeconfig.json
Elm/elm-stuff
Elm/node_modules
Elm/pnpm-lock.yaml
Erlang/erl_crash.dump
Erlang/example.beam
F*/out
F*/example
F#/bin
F#/obj
Fortran/example
Genie/example
Gleam/build
Gleam/manifest.toml
Haskell/out
Haskell/example
Haxe/example.n
Hy/src/__pycache__
Idris/build
Java/Example.class
Kotlin/META-INF
Kotlin/ExampleKt.class
Mercury/Mercury
Mercury/example
Mercury/example.mh
Nim/example
Objective-C/example
Odin/example
Oz/example.ozf
Pascal/src/example
Pascal/src/example.o
Pony/example
PureScript/.spago
PureScript/output
V/src/example
Vala/example
Verilog/example
Reason/example.ml
ReScript/lib
ReScript/node_modules
ReScript/pnpm-lock.yaml
ReScript/src/example.res.js
Rust/example
Scala/Example.class
Scala/Example$.class
Scala/Example.tasty
StandardML/example
Swift/example
SystemVerilog/example
TypeScript/dist
TypeScript/node_modules
TypeScript/pnpm-lock.yaml
VisualBasic/bin
VisualBasic/obj
Zig/example
Zig/example.o